.version.contact /* version checker */
{
	color: #0000FB;
	background-color: #B622C8;
}

.html
{
	background-color: #000000;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #7F7F7F));
	background: -webkit-linear-gradient(top,#000000 ,#7F7F7F 100%);
	background: linear-gradient(to bottom,#000000 ,#7F7F7F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF7F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF7F7F7F', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1012px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -28px;
	padding-top: 26px;
	width: 0.01px;
}

#pu88
{
	width: 0.01px;
	margin-left: 20px;
}

#u88
{
	z-index: 3;
	width: 1240px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u288
{
	z-index: 4;
	width: 351px;
	margin-right: -10000px;
	margin-top: 51px;
}

#u313
{
	z-index: 6;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 358px;
}

#u319
{
	z-index: 8;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 501px;
}

#u322
{
	z-index: 18;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 648px;
}

#u325
{
	z-index: 24;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 793px;
}

#u328
{
	z-index: 30;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 939px;
}

#u333
{
	z-index: 36;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1085px;
}

#u125-4
{
	z-index: 10;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 358px;
}

#u136-4
{
	z-index: 14;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 501px;
}

#u137-4
{
	z-index: 20;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 647px;
}

#u138-4
{
	z-index: 26;
	width: 137px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 793px;
}

#u331-4
{
	z-index: 32;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 939px;
}

#u164-4
{
	z-index: 38;
	width: 137px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 1085px;
}

#pu139
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 13px;
}

#u139
{
	z-index: 2;
	width: 1240px;
	padding-bottom: 675px;
	margin-right: -10000px;
}

#u618-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#widgetu621
{
	z-index: 51;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 456px;
}

#widgetu628
{
	z-index: 52;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu628.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u631-4
{
	z-index: 53;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u629-4
{
	z-index: 57;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu628.non-empty-st #u629-4
{
	background-color: #FFFFFF;
}

#widgetu628:hover #u629-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu628.focus-st #u629-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu628.non-empty-st #u629-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu628:hover #u629-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu628.focus-st #u629-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu632
{
	z-index: 61;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu632.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u634-4
{
	z-index: 62;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu632.fld-err-st #u634-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u635-4
{
	z-index: 66;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu632.non-empty-st #u635-4
{
	background-color: #FFFFFF;
}

#widgetu632:hover #u635-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu632.focus-st #u635-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu628.fld-err-st #u629-4,#widgetu632.fld-err-st #u635-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu632.non-empty-st #u635-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu632:hover #u635-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu632.focus-st #u635-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu628_input,#widgetu628_prompt,#widgetu632_input,#widgetu632_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u636-4
{
	z-index: 70;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu621.frm-sub-st #u636-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u626-4
{
	z-index: 74;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu621.frm-subm-err-st #u626-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u637-4
{
	z-index: 78;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu621.frm-sub-st #u636-4,#widgetu621.frm-subm-err-st #u626-4,#widgetu621.frm-subm-ok-st #u637-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu621.frm-subm-ok-st #u637-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u627-17
{
	z-index: 82;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u627-17.png") no-repeat 0px 0px;
}

#u627-17:hover
{
	background: url("../images/u627-17-r.png") no-repeat 0px 0px;
}

#u627-17:active
{
	background: url("../images/u627-17-m.png") no-repeat 0px 0px;
}

#widgetu621.frm-sub-st #u627-17
{
	background: url("../images/u627-17-fs.png") no-repeat 0px 0px;
}

#widgetu622
{
	z-index: 99;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu622.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u625-4
{
	z-index: 100;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu628.fld-err-st #u631-4,#widgetu622.fld-err-st #u625-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu628.fld-err-st #u631-4 p,#widgetu628.fld-err-st #u631-4 span,#widgetu632.fld-err-st #u634-4 p,#widgetu632.fld-err-st #u634-4 span,#widgetu622.fld-err-st #u625-4 p,#widgetu622.fld-err-st #u625-4 span
{
	color: #D7244C;
}

#u623-4
{
	z-index: 104;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu622.non-empty-st #u623-4
{
	background-color: #FFFFFF;
}

#widgetu622:hover #u623-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu622.focus-st #u623-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu622.fld-err-st #u623-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu622.non-empty-st #u623-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu622:hover #u623-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu622.focus-st #u623-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu628.fld-err-st #u629-4 *,#widgetu632.fld-err-st #u635-4 *,#widgetu622.fld-err-st #u623-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu622_input,#widgetu622_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu628.focus-st #widgetu628_prompt,#widgetu632.focus-st #widgetu632_prompt,#widgetu622.focus-st #widgetu622_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu628:hover #widgetu628_input,#widgetu628.focus-st #widgetu628_input,#widgetu628.fld-err-st #widgetu628_input,#widgetu628:hover #widgetu628_prompt,#widgetu628.fld-err-st #widgetu628_prompt,#widgetu632:hover #widgetu632_input,#widgetu632.focus-st #widgetu632_input,#widgetu632.fld-err-st #widgetu632_input,#widgetu632:hover #widgetu632_prompt,#widgetu632.fld-err-st #widgetu632_prompt,#widgetu622:hover #widgetu622_input,#widgetu622.focus-st #widgetu622_input,#widgetu622.fld-err-st #widgetu622_input,#widgetu622:hover #widgetu622_prompt,#widgetu622.fld-err-st #widgetu622_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu628.non-empty-st #widgetu628_prompt,#widgetu632.non-empty-st #widgetu632_prompt,#widgetu622.non-empty-st #widgetu622_prompt
{
	visibility: hidden;
}

#u255
{
	z-index: 42;
	width: 1240px;
	padding-bottom: 9px;
	margin-left: 20px;
	margin-top: 9px;
}

#u256-4
{
	z-index: 43;
	margin-right: -10000px;
	margin-top: 9px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

