.rss-date
{
	font-family: source-sans-pro-i3, sans-serif;
}

.rss-title
{
	font-family: source-sans-pro-n6, sans-serif;
}

.rss-paragraph
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u659-9,#u659-15,#u659-18,#u659-21
{
	font-family: source-sans-pro-n4, sans-serif;
}

