.version.sick_dreams /* version checker */
{
	color: #000004;
	background-color: #4ECA49;
}

.html
{
	background-color: #000000;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #7F7F7F));
	background: -webkit-linear-gradient(top,#000000 ,#7F7F7F 100%);
	background: linear-gradient(to bottom,#000000 ,#7F7F7F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF7F7F7F, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF7F7F7F', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1012px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -28px;
	padding-top: 26px;
	width: 0.01px;
}

#pu88
{
	width: 0.01px;
	margin-left: 20px;
}

#u88
{
	z-index: 3;
	width: 1240px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u288
{
	z-index: 4;
	width: 351px;
	margin-right: -10000px;
	margin-top: 51px;
}

#u313
{
	z-index: 6;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 358px;
}

#u319
{
	z-index: 8;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 501px;
}

#u322
{
	z-index: 18;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 648px;
}

#u325
{
	z-index: 24;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 793px;
}

#u328
{
	z-index: 30;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 939px;
}

#u333
{
	z-index: 36;
	width: 137px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1085px;
}

#u125-4
{
	z-index: 10;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 358px;
}

#u136-4
{
	z-index: 14;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 501px;
}

#u137-4
{
	z-index: 20;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 647px;
}

#u138-4
{
	z-index: 26;
	width: 137px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 793px;
}

#u331-4
{
	z-index: 32;
	width: 137px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 939px;
}

#u164-4
{
	z-index: 38;
	margin-right: -10000px;
	margin-top: 94px;
	left: 1085px;
}

#u139
{
	z-index: 2;
	width: 1240px;
	margin-left: 20px;
	margin-top: 13px;
}

#u139_position_content
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#u505
{
	z-index: 47;
	width: 694px;
	background-color: transparent;
	margin-left: 273px;
	position: relative;
}

#u549-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#pu551-8
{
	width: 0.01px;
	margin-top: 11px;
}

#u551-8
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu553-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 419px;
}

#u553-5
{
	z-index: 69;
	margin-left: 1px;
	position: relative;
}

#u554-5
{
	z-index: 74;
	margin-top: 11px;
	position: relative;
}

#u555-5
{
	z-index: 79;
	margin-top: 11px;
	position: relative;
}

#u557-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 840px;
}

#pu552-8
{
	width: 0.01px;
	margin-top: 9px;
}

#u552-8
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u556-4
{
	z-index: 84;
	position: relative;
	width: 401px;
	margin-right: -10000px;
	left: 419px;
}

#u553-5_img,#u554-5_img,#u555-5_img,#u556-4_img
{
	display: block;
	vertical-align: top;
}

#u255
{
	z-index: 42;
	width: 1240px;
	padding-bottom: 9px;
	margin-left: 20px;
	margin-top: 9px;
}

#u256-4
{
	z-index: 43;
	margin-right: -10000px;
	margin-top: 9px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

